#side_panel {
  color: var(--color-brightness-6);
  display: flex;
  flex: none;
  position: relative;
  transition: width .2s;
  width: 18.75rem;
  z-index: 1;

  &:has(.container-content:not(:open)) {
    width: 0;
  }
}

@scope (#side_panel) {
  .image-logo {
    display: block;
    margin-inline: 1.5rem;
    width: 9.5rem;
  }

  .container-all-boards {
    display: flex;
    flex-flow: column;
    margin-block: 3.5rem;
    max-height: 100%;
    overflow: auto;
  }

  .container-content {
    background: var(--color-brightness-10);
    border: unset;
    border-right: 1px solid var(--color-brightness-7);
    box-sizing: border-box;
    color: unset;
    display: grid;
    grid: auto 1fr auto / auto;
    height: 100%;
    inset: unset;
    margin: unset;
    outline: unset;
    padding: 2rem 0;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 18.75rem;
  }

  .switch {
    align-items: center;
    background: var(--color-brightness-8);
    border-radius: var(--radius-small);
    display: flex;
    gap: 1.5rem;
    height: 3rem;
    justify-content: center;
    margin-bottom: .5rem;
    margin-inline: 1.5rem;

    &::before {
      aspect-ratio: 1;
      background: currentColor;
      content: "";
      mask: url("images/icon-light-theme.svg") center / cover;
      width: 1.1875rem;
    }

    &::after {
      aspect-ratio: 1;
      background: currentColor;
      content: "";
      mask: url("images/icon-dark-theme.svg") center / cover;
      width: 1rem;
    }
  }
  
  .button-create-board {
    align-items: center;
    background: unset;
    border: unset;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    color: var(--color-blue-dark);
    cursor: pointer;
    display: flex;
    flex: none;
    font: var(--font-preset-3);
    gap: 1rem;
    height: 3rem;
    padding: unset;
    margin-block: 2px;
    padding-inline-start: 1.5rem;
    width: calc(100% - 1.5rem);

    &::before {
      aspect-ratio: 1;
      background: currentColor;
      content: "";
      mask: url("images/icon-board.svg") center / cover;
      width: 1rem;
    }
  }

  .button-hide-sidebar {
    align-items: center;
    background: unset;
    border: unset;
    border-radius: var(--radius-small);
    color: unset;
    cursor: pointer;
    display: flex;
    font: var(--font-preset-3);
    gap: 1rem;
    height: 3rem;
    padding: unset;
    padding-inline-start: 1.5rem;
    width: calc(100% - 1.5rem);

    &::before {
      aspect-ratio: 1.125;
      background: currentColor;
      content: "";
      mask: url("images/icon-hide-sidebar.svg") center / cover;
      width: 1.125rem;
    }
  }

  .button-select-board {
    align-items: center;
    background: unset;
    border: unset;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    box-sizing: border-box;
    color: unset;
    cursor: pointer;
    display: flex;
    font: var(--font-preset-3);
    gap: 1rem;
    height: 3rem;
    outline-offset: -1px;
    padding: unset;
    padding-inline-start: 1.5rem;
    position: relative;
    width: calc(100% - 1.5rem);

    &[aria-selected="true"] {
      background: var(--color-blue-dark);
      color: var(--color-brightness-10);
    }

    &::before {
      aspect-ratio: 1;
      background: currentColor;
      content: "";
      mask: url("images/icon-board.svg") center / cover;
      width: 1rem;
    }
  }

  .button-show-sidebar {
    align-items: center;
    background: var(--color-blue-dark);
    border: unset;
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    bottom: 2rem;
    color: white;
    cursor: pointer;
    display: flex;
    height: 3rem;
    left: 100%;
    padding-inline: 1.25rem;
    position: absolute;
    transition: .2s;
    transform-origin: left;
    transition-property: transform, visibility;

    &::after {
      aspect-ratio: 1.455;
      background: currentColor;
      content: "";
      mask: url("images/icon-show-sidebar.svg") center / cover;
      width: 1rem;
    }

    &[hidden] {
      transform: translateX(-100%) scale(0);
      visibility: hidden;
    }
  }

  .track {
    & {
      aspect-ratio: 2;
      background: var(--color-blue-dark);
      border-radius: 20px;
      box-sizing: border-box;
      height: 20px;
      isolation: isolate;
      padding: 3px;
      position: relative;
      transition: background .15s;

    }

    .thumb {
      background: var(--color-brightness-10);
      border-radius: 14px;
      display: block;
      height: 14px;
      transition: transform .15s;
      width: 14px;

      .track:has(.control:checked) & {
        transform: translateX(1.25rem);
      }
    }

    .control {
      appearance: none;
      border-radius: inherit;
      cursor: pointer;
      inset: 0;
      margin: unset;
      outline-offset: 3px;
      position: absolute;
    }
  }

  .text-caption {
    font: var(--font-preset-4);
    letter-spacing: 2px;
    margin-bottom: 1.25rem;
    margin-inline: 1.5rem;
    width: max-content;
  }

  .select-board {
    appearance: none;
    border: unset;
    color: unset;
    display: block;
    outline: none;
    overflow: auto;
    scrollbar-width: thin;
    
    &:empty {
      display: none;
    }

    margin-block: 3px;
  }
}

